[submodule "RenderWorksEngine/tplibs/spdlog"]
	path = RenderWorksEngine/tplibs/spdlog
	url = https://github.com/gabime/spdlog
[submodule "RenderWorksEngine/tplibs/glfw"]
	path = RenderWorksEngine/tplibs/glfw
	url = https://github.com/pdearman/glfw
[submodule "RenderWorksEngine/tplibs/imgui"]
	path = RenderWorksEngine/tplibs/imgui
	url = https://github.com/pdearman/imgui
